@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
  --laranja-claro: #FF862A;
}

html {
  font-size: 1rem; /* Valor base controlado */
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #000;
  background: #fff;
}

header {
  background-color: #ffffff;
}

section {
  padding-bottom: 5rem;
}

.nav-link {
  color: #CB6D43;
  font-weight: 600;
  font-size: 1.2rem;
}

.inicio-fundo {
  background-image: url('img/4965007.jpg');
  background-size: cover;
  background-position: center right;
  border-radius: 5rem;
  width: 100%;
  height: 40rem;
  padding: 3rem;
}

h2 {
  font-family: 'Lemon', serif;
  font-size: 2.5rem;
  color: var(--laranja-claro);
}

#galeria {
  background-color: #FAF4F4;
}

.fundo-galeria {
  background: url('img/flor-bottom-direita.png') no-repeat bottom right;
  background-size: 12rem;
}

#tropicalia {
  background: url('img/flor.png') top right no-repeat, url('img/flor-esquerda.png') bottom left no-repeat;
  background-size: 12rem;
}

#contato {
  background-image: url('img/4965007.jpg');
  background-size: cover;
}

.formulario {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  background-color: #F1EDEF;
  font-size: 1rem;
}

button, .btn {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
}

footer {
  font-size: 1rem;
}

